<!-- Bootstrap card -->
<div class="card" style="width: 22.5rem;">
  <img class="card-img-top" [src]="recipe.imagePath" [alt]="recipe.name">
  <!--src="http://propeller.in/assets/images/profile-pic.png" alt="Card image cap"-->

  <!-- Card Body -->
  <div class="card-body">
    <!-- Card Title -->
    <h2 class="card-title">{{ recipe.name }}</h2>

    <!-- Card Text -->
    <p class="card-text">{{ recipe.description }}</p>

    <!-- Card Action -->
    <a href="#" class="btn btn-primary" (click)="onSelected()">Get Recipe Details</a>
  </div>
</div>
